$header-height: 80px;
$footer-height: 40px;
$input-width        :208px;
$input-lg-width     :calc(25em + 32px);
$primary-color      : #409EFF;
$warning-color      : #fff8db;
$error-color        :#f56c6c;
$input-border-color : #dcdfe6;
$textarea-border-color: #dcdfe6;
$wx-work-max-width: 1200px;
$operation-height: 60px;
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$border-radius: 10px;